$accent_red: #6c2929;
$accent_green: #254e57;

$white_opaque_high: rgba(255, 255, 255, 0.75);
$white_opaque_medium: rgba(255, 255, 255, 0.33);
$white_opaque_low: rgba(255, 255, 255, 0.1);
$black_opaque_low: rgba(0, 0, 0, 0.1);

$text_primary: #ffffff;
$text_secondary: #dddddd;